doctype html
html
  head
    ul
            li
                a(href= '/Dad') Dad
            li
                a(href= '/Mom') Mom
            li
                a(href= '/Shaista') Shaista
  title= title
  link(rel='stylesheet', href='/stylesheets/main.css')  
  body
    block content